<!DOCTYPE html>
<html>
<head>
  <title>Build A Bog Monster</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag "" %>


 <!--  <link rel="stylesheet" href="/vendor/bootstrap/dist/css/bootstrap.min.css"> -->


</head>
<body>

<%= yield %>

</body>
</html>
